@charset "UTF-8";
/* ---------------------------------------------------------------------------------------------- */
.slick-prev:before, .slick-next:before {
    color: rgba(0,0,0,0.5);
}
.slick-next {
    right: 10px;
}
.slick-prev {
    left: 10px;
    z-index: 1;
}
.slick-dots {
    bottom: 10px;
}
/* ---------------------------------------------------------------------------------------------- */
.top-carousel {
    background-color: #dcdcdc;

    .title {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            font-size: 40px;
            color: #fff;
        }

        h2 {
            font-size: 20px;
            color: #fff;
        }
    }

    .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* ---------------------------------------------------------------------------------------------- */
.main {
    width: 96%;

    margin: 2%;
    padding: 100px;

    background: #fff;

    border-radius: 30px;

    h2, p {
        margin: 0;
    }
    
    section {
        margin: 25px 0;
    }
    
    h2 {
        color: #a549bc; /* #000 */
    }

    img {
        border-radius: 20px;
        box-shadow: 0px 0px 50px 5px rgb(0 0 0 / 20%);
    }

    .image_area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 40px 0;
    
        img {
            cursor: zoom-in;
        }
    }

    .split_bar {
        width: 100%;
        height: 1px;
        background-color: #000;
    }
}
/* ---------------------------------------------------------------------------------------------- */
.mobile {
    .main {
        img {
            border-radius: 10px;
        }
    }
}